.card-wrapper{
    margin-left: 320px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-wrapper-div{
    flex-wrap: wrap;
    width: auto;
}
.card-wrapperitems{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 50px;
}
.card-wrapper-add{
    width: 150px;
    height: 50px;
    background-color: black;
    font-size: 18px;    
    text-align: center;
    color: white;
    border-radius: 15px;
    line-height: 50px;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    right: 50px;
    bottom: 50px;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}
.card-wrapper-signout{
    width: 150px;
    height: 50px;
    background-color: black;
    font-size: 18px;
    text-align: center;
    color: white;
    border-radius: 15px;
    line-height: 50px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    right: 50px;
    top: 50px;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}
.card-wrapper-add:hover{
    transform: scale(1.05);
}
.card-wrapper-search{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-color: transparent;
}
.card-wrapper-filter{
    margin-left: 280px;
    margin-top: 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.react-datepicker-wrapper{
    width: unset;
}
.card-wrappercategory{
    width: calc(100vw - 380px);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}
.card-wrappercategory p{
    font-size: 24px;
    font-weight: 800;
}
.wrappercategory-svgs{
    display: flex;
    gap: 10px;
}
.wrappercategory-svgs svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.add-new-task-img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.add-new-task-img:hover{
    transform: rotate(30deg);
}

@media only screen and (max-width: 990px) {
    .card-wrapper-filter{
        margin-left: 0px;
    }
    .card-wrapper{
        margin-left: 0px;
        gap: unset;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    .card-wrapper-div{
        justify-content: center;
    }
    .card-wrapperitems{
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px;
    }
    .wrappercategory-svgs svg{
        padding-right: 10px;
    }
    .card-wrappercategory{
        width: calc(100vw - 60px);
    }
    .card-wrappercategory p{
        font-size: 20px;
        font-weight: 800;
    }
    .add-new-task-img{
        width:60px;
        height: 60px;
    }
}