.card-wrapper{
    margin: 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.card-wrapper-add{
    width: 100px;
    height: 100px;
    background-color: black;
    font-size: 32px;
    text-align: center;
    color: white;
    border-radius: 50%;
    line-height: 100px;
}
.card-wrapper-add:hover{
    transform: scale(1.1);
}