.card-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 320px;
    top: 150px;
    height: calc(100vh - 150px);
    width: calc(100vw - 320px);
    overflow-y: auto;
    background-color: white;
}
.card-wrapperitems{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 50px;
}
.card-absolute{
    position: relative;
    z-index: 999;
}
.card-wrapper-add{
    width: 150px;
    height: 50px;
    background-color: black;
    font-size: 18px;    
    text-align: center;
    color: white;
    border-radius: 15px;
    line-height: 50px;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    right: 50px;
    bottom: 50px;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}
.card-wrapper-signout{
    width: 150px;
    height: 50px;
    background-color: black;
    font-size: 18px;
    text-align: center;
    color: white;
    border-radius: 15px;
    line-height: 50px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    right: 50px;
    top: 50px;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}
.card-wrapper-add:hover{
    transform: scale(1.05);
}
.card-wrapper-search{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-color: transparent;
}
.card-wrapper-filter{
    margin-left: 280px;
    margin-top: 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.react-datepicker-wrapper{
    width: unset;
}
.card-wrappercategory{
    width: calc(100vw - 380px);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}
.card-wrappercategory p{
    font-size: 20px;
    font-weight: 800;
}
.wrappercategory-svgs{
    display: flex;
    gap: 10px;
}
.wrappercategory-svgs svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.add-new-task-img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: #555;
}
.add-new-task-img:hover{
    transform: rotate(30deg);
    color: black;
}

.card-add-task-bg{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    cursor: default;
    background: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 990px) {
    .card-wrapper-filter{
        margin-left: 0px;
    }
    .card-wrapper{
        left: 0px;
        gap: unset;
        align-items: center;
        padding-top: 10px;
        width: 100vw
    }
    .card-wrapperitems{
        margin: 20px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px;
    }
    .wrappercategory-svgs svg{
        padding-right: 10px;
    }
    .card-wrappercategory{
        width: calc(100vw - 60px);
    }
    .card-wrappercategory p{
        font-size: 18px;
        font-weight: 800;
    }
    .add-new-task-img{
        width: 40px;
        height: 40px;
    }
}