.card-surface{
    width: 400px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    cursor: pointer;
}
.pinkglow{
    box-shadow: 0px 4px 25px #670557;
}
.grayglow{
    box-shadow: 0px 4px 25px #515151;
}
.card-main{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}   
.card-title{
    padding-top: 20px;
    font-weight: 600;
    font-size: 22px;
}
.card-desc-box{
    background-color: #F1F1F1;
    padding-bottom: 10px;
    margin: -15px;
    padding: 15px;
}
.desc-box-desc{
    font-size: 14px;
    padding-top: 5px;
    word-spacing: 2px;
    word-break: break-word;
}
.card-task{
    font-size: 14px;
    padding-top: 5px;
    word-spacing: 2px;
    word-break: break-word;
}
.card-due{
    font-weight: 400;
    font-size: 14px;   
}
.card-footer{
    background: #515151;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.footer-tags{
    padding: 15px;
}
.footer-mark-done{
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 52px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}
.footer-mark-done:hover{
    background-color: #5C0969;
    color: white;
}
.blue{
    background: #C5F4FF;
}
.pink{
    background: #FBBFEE;
}
.black{
    background-color: black;
    color: white;
}
.black:hover{
    background-color: gray;
}
.due-bold{
    font-weight: 700;
    font-size: 16px;
}
@media only screen and (max-width: 990px) {
    .card-surface{
        width: 300px;
        height: auto;
    }
    .card-main{
        padding: 10px;
    }   
    .card-desc-box{
        margin: -10px;
        padding: 10px;
    }
    .card-title{
        padding-top: 10px;
        font-size: 20px;
    }
    .desc-box-desc{
        font-size: 14px;
    }
    .card-task{
        font-size: 14px;
    }
    .card-due{
        font-size: 14px;   
    }
    .footer-mark-done{
        height: 42px;
        font-size: 16px;
    }
    .due-bold{
        font-size: 14px;
    }
}