*{
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.app-logo{
  display: flex;
  justify-content: center;
}
.app-logo img{
  height: 200px;
}
@keyframes ldio-ynypg32kjys {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@keyframes ldio-c1dvvx8rgm {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-c1dvvx8rgm div {
  position: absolute;
  animation: ldio-c1dvvx8rgm 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #1d0e0b;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-hudbooqsn0d {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-c1dvvx8rgm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.app-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ldio-c1dvvx8rgm div { box-sizing: content-box; }